
a:link{
	color: green;
}

a:visited{
	color: #F25C35;
}

a:hover{
	color: yellow;
}

a:active{
	color: blue;
}

h1{
	color: #FF987D;
	text-align: center;
	font-weight:bolder;
}

h4{
	color: gray;
	text-align: center;
	font-weight:bolder;
}

li{
	color: gray;
	text-align: center;	
}
ul{
	color: gray;
	text-align: center;	
}

div {
	background-color: white;
	padding: 16px;
	text-align: center;
}

div:hover{
	background-color: #9BC8AF;
	color: black;
}